.about-section {
    padding: 80px 0;
}

.about-container {
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 60px;
}

/* LEFT IMAGE */
.about-image {
    position: relative;
    width: 50%;
}

.main-img {
    width: 100%;
    height: 550px;
    border-radius: 12px;
    object-fit: cover;
}

/* PLAY BUTTON */
.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: none;
    border-radius: 50%;
    padding: 20px 25px;
    font-size: 28px;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.play-btn:hover {
    transform: translate(-50%, -50%) scale(1.1);
}

/* RIGHT CONTENT */
.about-content {
    width: 50%;
}

.small-title {
    color: #b67440;
    font-weight: 600;
    letter-spacing: 2px;
}

.main-title {
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0 20px 0;
}

.description {
    color: #555;
    line-height: 1.6;
}

/* CALL + BUTTON ROW */
.call-row {
    margin: 25px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

.call-box .call-title {
    font-size: 14px;
    color: #b67440;
}

.call-number {
    font-size: 15px;
    font-weight: 700;
    margin-top: 5px;
}

.book-btn {
    background: #b67440;
    border: none;
    color: #fff;
    padding: 14px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.book-btn:hover {
    background: #915b35;
}

/* LIST */
.points-list {
    margin: 25px 0;
    list-style: none;
    padding: 0;
}

.points-list li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

/* LEARN MORE BUTTON */
.learn-more {
    background-color: #333;
    color: #f1efed;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.learn-more:hover {
    background: #b67440;
    color: #fff;
}
/* .calendar-text{
    
} */
