.footer {
  background-color: #3c2314;
  padding: 60px 0 20px;
  padding-bottom: 50px;
  padding-left: 20px;
  color: #fff;
  font-family: Nunito Sans;
  font-size: 16px;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  box-sizing: border-box;
}

/* Container */
.footer-container {
  width: 89%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 10px;
}

/* Logo */
.logo {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}

.fit {
  color: #e5b17a;
}

.ibe {
  color: #c48754;
}

.header-logo {
  padding: 0px 0px 08px;
  margin: 0px 0px -2px;
}

/* Text */
.footer-text {
  color: #f8f8f5;
  line-height: 1.6;
  margin-bottom: 25px;
  font-size: 12px;
}

/* Contact */
.footer-contact {
  display: flex;
  gap: 40px;
  border-top: 1px solid #a87a57;
  padding-top: 15px;
}

.footer-contact h4 {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer-contact p {
  color: #d4c1b0;
}

/* Columns */
.footer-col h3 {
  color: #e5b17a;
  margin-bottom: 15px;
}

.footer-col ul li {
  margin-bottom: 8px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #ab8564;

}

/* Newsletter */
.newsletter-box {
  display: flex;
  margin-top: 15px;
}

.newsletter-box input {
  padding: 10px;
  width: 180px;
  border: none;
  outline: none;
}

.newsletter-box button {
  background-color: #c48754;
  width: 50px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

.error-msg {
  color: #ff4c4c;
  font-size: 13px;
  margin-top: 8px;
}

/* Bottom text */
.footer-bottom {
  text-align: center;
  margin-top: 25px;
  color: #d4c1b0;
  border-top: 1px solid #a87a57;
  padding-top: 10px;
  font-size: 14px;
}