.footer {
  background-color: #3c2314;
  padding: 60px 20px 20px;
  color: #fff;
  font-family: Nunito Sans;
  box-sizing: border-box;
}

.footer-container {
  width: 89%;
  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 20px;
}

/* Logo */
.logo {
  font-size: 32px;
  font-weight: 800;
  margin-bottom: 15px;
}

.fit {
  color: #e5b17a;
}
.ibe {
  color: #c48754;
}

/* Text */
.footer-text {
  font-size: 13px;
  line-height: 1.6;
  color: #f8f8f5;
  margin-bottom: 20px;
}

/* Contact */
.footer-contact {
  display: flex;
  gap: 30px;
  border-top: 1px solid #a87a57;
  padding-top: 15px;
}

.footer-contact h4 {
  font-size: 15px;
  margin-bottom: 4px;
}

.footer-contact p {
  color: #d4c1b0;
  font-size: 14px;
}

/* Columns */
.footer-col h3 {
  color: #e5b17a;
  margin-bottom: 15px;
}

.footer-col ul {
  padding: 0;
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-col ul li:hover {
  color: #ab8564;
}

/* Newsletter */
.newsletter-box {
  display: flex;
  margin-top: 15px;
}

.newsletter-box input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  font-size: 14px;
  background: #fffaf5;
}

.newsletter-box button {
  width: 50px;
  background-color: #c48754;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}

/* Remove browser effects */
.newsletter-box input:focus,
.newsletter-box button:focus {
  outline: none;
  box-shadow: none;
}

.error-msg {
  color: #ff4c4c;
  font-size: 13px;
  margin-top: 8px;
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #a87a57;
  font-size: 14px;
  color: #d4c1b0;
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }

  .footer-contact {
    flex-direction: column;
    gap: 15px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .footer-container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .logo {
    font-size: 26px;
  }

  .newsletter-box {
    width: 100%;
  }

  .newsletter-box button {
    width: 55px;
  }

  .footer-bottom {
    font-size: 12px;
  }
}
