.services-section {
    width: 100%;
    padding: 20px 0;
    background: #faf6f2;
}

.services-container {
    /* width: 90%; */
    margin-left: auto;
    padding: 80px;
}

/* ---------------- TOP FLEX ---------------- */
.top-wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    /* margin-bottom: 70px; */
}

/* LEFT SIDE */
.left-box {
    max-width: 72%;
    width: 100%;
}

.small-heading {
    color: #b57a50;
    font-size: 14px;
    letter-spacing: 2px;
}

.main-title {
    font-size: 42px;
    line-height: 1.25;
    font-weight: 700;
    color: #222;
    margin: 15px 0 30px;

}

/* NUMBERS */
.numbers {
    /* flex-direction: column;  */
    display: flex;
    gap: 35px;
    padding: -2px 0px 0px;
    margin: -5px 0px 0px;
}

.numbers div {
    align-items: center;
    gap: 6px;
}

/* NUMBER VALUE (10+, 8k+) */
.numbers h3 {
    transition: 0.3s ease;
    cursor: pointer;
}

.numbers h3:hover {
    color: #b57a50;
    transform: scale(1.12);
}

/* NUMBER LABEL (Yoga Coaches, Happy Clients) */
.numbers p {
    transition: 0.3s ease;
    cursor: pointer;
}

.numbers p:hover {
    color: #b57a50;
}


/* BOOK BUTTON */
.book-btn {
    background: #b57a50;
    color: white;
    display: flex;
}

.about-book-btn p {
    color: #222;
}

.about-book-btn b {
    color: #222;
}


/* RIGHT SIDE BUTTON */
.services-right-btn {
    background-color: #1a1919;
    color: #f1efed;
    border: none;
    padding: 12px 24px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
    max-width: 50%;
    /* width: 100%; */
    margin-left: auto;
}

.services-right-btn:hover {
    background: #b57a50;
    color: white;
}

/* ---------------- CARDS ---------------- */
.services-grid {
    display: flex;
    gap: 30px;
    padding: 0px;
}

.service-card {
    /* width: 33%; */
    width: 220px;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.service-card img {
    width: 100%;
    height: 185px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 15px;
}

.service-card h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

.service-card p {
    font-size: 14px;
    color: #444;
    display: flex;
}

.my-card-row {
    display: flex;
    gap: 20px;
    /* Cards vachche space */
    align-items: flex-start;
    /* width: 310%; */
}

.service-card {
    width: 33.33%;
    /* Fixed width so they align horizontally */
    text-align: center;
}

.service-card img {
    width: 100%;
    margin-bottom: 10px;
    /* Image and text vachche space */
}