.e-con-inner {
  align-items: var(--align-items);
  align-self: auto;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: var(--flex-wrap);
  justify-content: var(--justify-content);
}


.testimonial {
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f7f3ef;
  position: relative;
}
.i1{
  height: auto;
  width: 100%;

}

/* LEFT */
.left {
  width: 60%;
}

.testi-tag {
  font-size: 12px;
  color: #caa58e;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.testi-title {
  font-size: 37px;
  color: #1b120e;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 10px;
}

.rating-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

.user-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.user-img img {
  width: 45%;   
  max-width: 500px;
  height: auto;
}


.stars {
  color: #ffb400;
  font-size: 18px;
}

.rating-text {
  font-size: 13px;
  color: #6a5549;
}

.testi-desc {
  color: #5c4b42;
  font-size: 15px;
  line-height: 1.7;
  margin-bottom: 30px;
  font: 18px;
}

.reviewer {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 2px;
}

.position {
  font-size: 13px;
  color: #8c7b74;
}

/* RIGHT */
.right {
  width: 50%;
  position: relative;
}

.girl-img {
  width: 430px;
  position: relative;
  z-index: 3;
}

.circle-bg {
  position: absolute;
  top: 50px;
  right: 30px;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background: #f0e5d8;
  opacity: 0.7;
  z-index: 1;
}

.badge {
  width: 130px;
  position: absolute;
  left: -40px;
  top: 150px;
  z-index: 4;
}