/* nunito-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/nunito-sans-v19-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-500 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/nunito-sans-v19-latin-500.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/nunito-sans-v19-latin-600.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/nunito-sans-v19-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-sans-800 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/nunito-sans-v19-latin-800.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* tenor-sans-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/tenor-sans-v21-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* variable define */
:root {
  --primary-font: 'Nunito Sans';
  --heading-font: 'Tenor Sans';
  --white: #fff;
  --primary-color: #BB8257;
  --secondary-color: #2E1C0E;
}

/* desault css */
body {
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

.bg {
  /* height: 100vh;  */
  /* background-image: url("./assets/images/img.webp"); */
  background-size: cover;
  background-position: center;
}

/* ===========================
   HEADER / NAVBAR
=========================== */

/* Navbar background */
.header-navbar {
  background-color: #080808 !important;
  padding: 14px 0;
  padding-top: 50px;
}

/* Container full width */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
}

/* LEFT SIDE: Logo */
.header-logo {
  height: 55px;
  width: auto;
  margin-left: 20px;
  /* optional small gap from edge */
}

/* LEFT SIDE: Nav Links */
.header-links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 40px;
  /* space between logo and links */
}

.header-links .nav-link {
  color: white !important;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* RIGHT SIDE: Search + Appointment */
.right-nav {
  display: flex;
  align-items: center;
  margin-right: 20px;
  /* right edge distance */
  gap: 15px;
}

/* Search icon */
.search-icon {
  color: white;
  cursor: pointer;
  font-size: 28px;
}

/* Appointment button */
.appointment-btn {
  background-color: #d39b63;
  border: #BB8257;
  padding: 8px 22px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 4px;
}

/* Button Hover */
.appointment-btn:hover {
  background-color: #100f0f;
  color: white;
  border: #c78a56;

}

/* ===========================
   HERO SECTION
=========================== */

.hero {
  background: url('./assets/images/fitness-slider.webp') no-repeat center;
  background-size: cover;
  padding: 140px 0;
  position: relative;
  display: flex;
  align-items: center;
  /* min-height: 70vh; */
}

/* LEFT CONTENT WRAPPER */
.hero-content {
  color: #fff;
  margin-left: 120px;
  
}

.hero-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #c78a56;
  text-transform: uppercase;
  /* margin-bottom: 20px; */
}

.hero-title h1{
  font-size: 56px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: Tenor Sans;
    line-height: 66px;
    letter-spacing: -1px; 
}

/* Hero Button */
.btn-primary {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 34px;
  background-color: #c78a56;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
}
.btn-primary:hover{
  background-color: #fff;
  color:#c78a56;
}

/* Rating Box */
.rating-box {
  margin-top: 25px;
  font-size: 10px;
  display: block;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  font-size: 28px;
}

/* Gym Box */
.gym-box {
  position: absolute;
  bottom: 40px;
  left: 40px;
  background-color: oldlace;
  padding: 14px 40px;
  text-align: center;
  color: #333;
  border-radius: 3px;
}

.gym-box h3 {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 600;
}

/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 992px) {
  .hero-content {
    margin-left: 40px;
  }

  .header-links {
    margin-left: 20px;
  }

  .gym-box {
    padding: 10px 20px;
    bottom: 20px;
    left: 20px;
  }
}

.about-book-btn {
  text-decoration: none;
  display: flex;
  column-gap: 20px;
}

.calendar-icon {
  background-color: #BB8257;
  display: inline-block;
  padding: 16px 20px;
  border-radius: 50%;

}

.calendar-icon svg {
  fill: #ffffff;
}

.calendar-text p {
  margin: unset;
  color: #BB8257;
}

.calendar-text p:last-child {
  margin-top: 6px;
}

.about-book-btn:hover .calendar-icon {
  background-color: #000;
}



/* about us */

.about-hero {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  background-image: url('../src/assets/images/bg.jpg');
}

.overlay {
  position: absolute;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.45); */
}

.hero-content {
  position: relative;
  color: #fff;
  z-index: 2;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 8px;
}

.breadcrumb {
  font-size: 16px;
  opacity: 0.9;
}
.breadcrumb:hover{
    opacity: 0.8;
    color: #d39b63;
    /* background-color: rgb(211, 120, 22); */
}

.breadcrumb span {
  margin: 0 8px;
}



/* About PG */

.page-hero{
  width: 100%;
  height: 260px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
}

.overlay{
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.hero-content {
  position: relative;
  color: #fff;
  z-index: 2;
}

.hero-content h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 8px;
}

.breadcrumb {
  font-size: 16px;
  opacity: 0.9;
}

.breadcrumb li {
  margin: 0 8px;
}


/* our services PG */
/* .service-hero {
  width: 100%;
  height: 400px;
  background-image: url('../src/assets/images/bg3.webp'); 
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
} */



.services-section {
  width: 90%;
  margin: auto;
  padding: 40px 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  justify-content: center;
  align-items: center;
}

.service-card {
  text-align: center;
  position: relative;
}

.service-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.service-icon {
  width: 55px;
  height: 55px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.service-title {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #2a2a2a;
}

/* Responsive */
@media(max-width: 768px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 500px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}




/* ========= HERO SECTION ========= */
.service-hero {
  width: 100%;
  height: 250px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  background-image: url('../src/assets/images/bg3.webp');
  height: 400px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.4); */
}

.hero-content {
  position: relative;
  text-align: center;
  color: #fff;
}

.hero-content h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.breadcrumb-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb-item {
  color: #fff;
}

/* ========= SERVICES GRID ========= */
.services-section {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.service-card {
  text-align: center;
  position: relative;
}

.service-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.2);
}

.service-icon {
  width: 55px;
  height: 55px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.service-title {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 600;
  color: #2a2a2a;
}

/* ========= RESPONSIVE ========= */
@media (max-width: 850px) {
  .services-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .services-grid {
    grid-template-columns: 1fr;
  }
}

