.logo{
  height: 20%;
  width: 20%;
}

#navlink{
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 8px;
  color: white;
  justify-content: space-between;
  max-width: 0 auto;
}
         
.appointment-btn{
  background-color: brown;
  color: white;
  padding: 6px 12px; 
  margin-left: 200px;
  margin-top: 2px; 
}

.subtitle{
  color: chocolate;
  margin-top: 70px;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  font-size: 50px;
  font-style: oblique;
  color: black;
}

.hero {
  background-color: #1a0f0a;
  padding: 120px 80px;
   
}
/* .bg-image{
  background-image: url("./assets/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow:  0px 0px 10pxblack;
} */

.hero-subtitle {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #c78a56;
  text-transform: uppercase;
}

.hero-title {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-weight: 600;
  line-height: 1.1;
  color: #ffffff;
  margin: 20px 0;
}

  .gym-box {
  width: fit-content;
  padding: 10px 20px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  background-color: oldlace;
  margin-top: 50px; 
}

.gym-box h3 {
  font-size: 15px;
  line-height: 1.3;
  font-weight: 500;
}

.btn-primary {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 14px 34px;
  background-color: #c78a56;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
}

.rating-box{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 15px;
  color: #fff;
}
